<div class="cards">
    <mat-card class="card" routerLink="metodos">
        <mat-card-header>
            <mat-card-title>Métodos de ordenamiento</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets\card.jpg">
        <mat-card-content>
            <p>
            Burbuja, Seleccion, Inserción, Bucket, Cuentas, Merge, Radix, Shell, Quicksort
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="card" routerLink="estructuras">
        <mat-card-header>
            <mat-card-title>Estructuras de datos</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets\card.jpg">
        <mat-card-content>
            <p>
            Arreglos, Cadenas,Matrices, Pilas, Colas, LSE, LDE, Grafos
            </p>
        </mat-card-content>
    </mat-card>
</div>
