<mat-toolbar class="center">
    <h1>Merge</h1>
  </mat-toolbar>
  
  <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Definición
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>El algoritmo de Mergesort es un ejemplo clásico de algoritmo que utiliza el principio de dividir para conquistar. Si el vector tiene más de dos elementos se lo divide en dos mitades, se invoca recursivamente al algoritmo y luego se hace una intercalación de las dos mitades ordenadas.</p>
        <br>
        <ul>
            <li>Si la longitud del arreglo es menor o igual a 1, ya está ordenado.</li>
            <li>El arreglo a ordenar se divide en dos mitades de tamaño similar.</li>
            <li>Cada mitad se ordena de forma recursiva.</li>
            <li>Las dos mitades ya ordenadas se mezclan, formando una secuencia ordenada.</li>
        </ul>
        <br>
        <p>Ventajas</p>
        <ul>
            <li>Su algoritmo tiene mucha estabilidad (se evitan los problemas de intercambio de claves en la manipulación de datos).</li>
            <li>Este algoritmo es efectivo para conjuntos de datos que se puedan acceder secuencialmente como arreglos, vectores y listas ligadas.</li>
            <li>A diferencia de algunas versiones mejoradas del QuickSort, MergeSort es un método estable de ordenamiento mientras la operación de mezcla (Merge) sea implementada correctamente.</li>
        </ul>
        <br>
        <p>Desventajas</p>
        <ul>
            <li>Su principal desventaja radica en que está definido recursivamente y su implementación no recursiva emplea una pila, por lo que requiere un espacio adicional de memoria para almacenarla.</li>
            <li>A los algoritmos que realizan el proceso de ordenamiento dentro del mismo vector se les denomina algoritmos de ordenamiento "in-situ", el algoritmo de MergeSort no pertenece a esta familia ya que no utiliza el espacio sobre el que están almacenados los datos sino que para poder funcionar requiere de un espacio de memoria adicional del tamaño de los datos a ordenar en el cual se realicen las mezclas.</li>
        </ul>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Representación grafica
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="center">
          <img src="http://4.bp.blogspot.com/-G9vbYIZoTwY/VEeVj_EPeYI/AAAAAAAAAaM/ev9tZdrnyTU/s1600/java-mergesort.jpg" alt="Representación grafica">
        </div> 
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Ejemplo de código
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a href="https://github.com/JesusMartinez20/TheArchivesCodes/blob/master/merge.cpp" target="_blank">https://github.com/JesusMartinez20/TheArchivesCodes/blob/master/merge.cpp</a>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Video tutorial
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="center">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/55d8cAK9oE0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
