<mat-toolbar class="center">
    <h1>Selección</h1>
  </mat-toolbar>
  
  <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Definición
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>El ordenamiento por selección mejora el ordenamiento burbuja haciendo un sólo intercambio por cada recorrido a través de la lista. Para hacer esto, un ordenamiento por selección busca el valor mayor a medida que hace un recorrido y, después de completar el recorrido, lo pone en la ubicación correcta. </p>
        <p>Al igual que con un ordenamiento burbuja, después del primer recorrido, el elemento mayor está en la ubicación correcta. Después del segundo recorrido, el siguiente elemento mayor está en su ubicación. Este proceso continúa y requiere n−1 recorridos para ordenar los n elementos, ya que el elemento final debe estar en su lugar después del (n−1)-ésimo recorrido.</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Representación grafica
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="center">
          <img src="https://runestone.academy/runestone/static/pythoned/_images/selectionsortnew.png" alt="Representación grafica">
        </div> 
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Ejemplo de código
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a href="https://github.com/JesusMartinez20/TheArchivesCodes/blob/master/seleccion.cpp" target="_blank">https://github.com/JesusMartinez20/TheArchivesCodes/blob/master/seleccion.cpp</a>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Video tutorial
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="center">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/KCvr7eHXEHE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </mat-expansion-panel>
    </mat-accordion>