<mat-toolbar class="center">
    <h1>Radix</h1>
  </mat-toolbar>
  
  <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Definición
          </mat-panel-title>
        </mat-expansion-panel-header>
            <p>El método de ordenación radix es un algoritmo que ordena datos procesando sus elementos de forma individual, según la posición que ocupan dentro del dato. Los datos numéricos los por dígitos y los datos alfabéticos por letras. El  método  radix  se  clasifica  en  dos  tipos  según  el  orden  en  el que  procesan  los datos:</p>
            <br>
            <ul>
                <li>De derecha a izquierda.</li>
                <li>De izquierda a derecha.</li>
            </ul>
            <p>Si aplicamos este método solo a enteros, el método se clasificaría de la siguiente manera:</p>
            <br>
            <ul>
                <li>El digito menos significativo (LSD, Least Significat Digit).</li>
                <li>El digito más significativo (MSD, More Significat Digit).</li>
            </ul>
            <p>El procedimiento para aplicar el algoritmo de radix es el siguiente:</p>
            <br>
            <ol>
                <li>Determinar cuál es la mayor cantidad de dígitos del elemento mayor del arreglo.</li>
                <li>Crear un arreglo de colas, que permita almacenar cana uno de los dígitos del 0 al 9.</li>
                <li>Crear cada posición del arreglo como un objeto que permita almacenar los elementos en cada cola, según el índice que le corresponde.</li>
                <li>
                    Generar un ciclo que determine el número de digito que se está procesando y el factor que permite encontrar el digito.
                    <ol>
                        <li>Inicializar el número de digito y el factor en uno.</li>
                        <li>Mientras el digito sea menor o igual a la cantidad de dígitos encontrados en el paso uno.</li>
                        <li>El número de digito se debe incrementar de uno en uno.</li>
                    </ol>
                </li>
                <li>
                    Crear un segundo ciclo que se encuentra dentro del anterior y que se encarga de recorrer todo el arreglo desde la posición inicial hasta la final del arreglo.
                    <ol>
                        <li>Iniciar el control del ciclo en cero.</li>
                        <li>Mientras el control sea menor al tamaño del arreglo, continuamos en el ciclo.</li>
                        <li>El control del ciclo se cambia de uno en uno.</li>
                    </ol>
                </li>
                <li>
                    Generar un segundo ciclo que se encuentra dentro del primero, al igual que el anterior y este controla el paso de los elementos de las colas al arreglo nuevamente.
                    <ol>
                        <li>El control de este ciclo inicia desde la cola cero, al igual que el índice que controla el arreglo de los elementos. </li>
                        <li>Mientras el control sea menor a diez continua dentro del ciclo.</li>
                        <li>El control del ciclo se incrementa de uno en uno.</li>
                    </ol>
                </li>
                <li>Dentro del ciclo anterior se genera otro ciclo que se encarga de colocar el contenido de cada cola dentro del arreglo original y su condición es que mientras la cola no este vacía retire los elementos guardándolos en el arreglo e incrementar el índice que controla el arreglo.</li>
            </ol>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Representación grafica
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="center">
          <img src="https://i.stack.imgur.com/o3im8.jpg" alt="Representación grafica">
        </div> 
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Ejemplo de código.
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a href="https://github.com/JesusMartinez20/TheArchivesCodes/blob/master/radix.cpp" target="blank">
          Radix
        </a>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Video tutorial
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="center">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/_Xz3XyKsCaM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </mat-expansion-panel>
    </mat-accordion>