<mat-toolbar color="primary">
  <mat-toolbar-row class="divs">
    <div class="header">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>view_headline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="MO">Métodos de ordenamiento</button>
            <button mat-menu-item [matMenuTriggerFor]="ED">Estructuras de datos</button>
          </mat-menu>
          <mat-menu #MO="matMenu">
            <button mat-menu-item routerLink="burbuja">Burbuja</button>
            <button mat-menu-item routerLink="seleccion">Seleccion</button>
            <button mat-menu-item routerLink="insercion">Inserción</button>
            <button mat-menu-item routerLink="bucket">Bucket</button>
            <button mat-menu-item routerLink="cuentas">Cuentas</button>
            <button mat-menu-item routerLink="merge">Merge</button>
            <button mat-menu-item routerLink="radix">Radix</button>
            <button mat-menu-item routerLink="shell">Shell</button>
            <button mat-menu-item routerLink="quicksort">Quicksort</button>
          </mat-menu>
          
          <mat-menu #ED="matMenu">
            <button mat-menu-item routerLink="Apuntadores">Apuntadores</button>
            <button mat-menu-item routerLink="Iteradores">Iteradores</button>
            <button mat-menu-item routerLink="arreglos">Arreglos</button>
            <button mat-menu-item routerLink="cadenas">Cadenas</button>
            <button mat-menu-item routerLink="matriz">Matrices</button>
            <button mat-menu-item routerLink="pilas">Pilas</button>
            <button mat-menu-item routerLink="colas">Colas</button>
            <button mat-menu-item routerLink="LSE">LSE</button>
            <button mat-menu-item routerLink="LDE">LDE</button>
            <button mat-menu-item routerLink="Grafos">Grafos</button>
          </mat-menu>
    </div>

    <div class="titulo, header">
        <span>
            <img src="assets\carpeta.png" height="25" width="25">
          </span>
          <span> &nbsp; The Archives</span>
    </div>
    <div class="header"></div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<div style="height: 15%;"></div>


<footer style=background-color:#3f51b5>
    <div class="divFooter">
        <h2>
            The Archives 
        </h2>
        <p>
           Es un sitio que tiene como propósito brindar material de apoyo a aquellos alumnos principiantes de programación o toda aquella persona interesada en dichos temas.
        </p>
    </div>
    <div class="divFooter" style="text-align: right;">
        <h2 style="text-align: right;">
            Desarrolladores
        </h2>
        <a href="https://github.com/Chit0mx" target="_blank">Andrés Mercado</a><br>
        <a href="https://github.com/TheRaven0" target="_blank">Kevin Medina</a><br>
        <a href="https://github.com/JesusMartinez20" target="_blank">Jesús Martínez</a>
    </div>
</footer>
