<mat-toolbar class="center">
    <h1>LDE</h1>
  </mat-toolbar>
  
  <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Definición
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Una lista doblemente enlazada es una lista lineal en la que cada nodo tiene dos enlaces, uno al nodo siguiente, y otro al anterior.
            
            Las listas doblemente enlazadas no necesitan un nodo especial para acceder a ellas, pueden recorrerse en ambos sentidos a partir de cualquier nodo, esto es porque a partir de cualquier nodo, siempre es posible alcanzar cualquier nodo de la lista, hasta que se llega a uno de los extremos.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Representación grafica
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="center">
          <img src="http://www.conclase.net/c/edd/imagen/dobleenlace.gif" alt="Representación grafica">
        </div> 
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Ejemplo de código
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Puedes consultar el siguiente link http://www.conclase.net/c/edd/?cap=005
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Video tutorial
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="center">
          <iframe width="560" height="315" src="https://www.youtube.com/watch?v=k3iDSt8ZvE4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </mat-expansion-panel>
    </mat-accordion>