<mat-toolbar class="center">
    <h1>Bucket</h1>
  </mat-toolbar>
  
  <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Definición
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Es un algoritmo de ordenamiento que distribuye todos los elementos a ordenar entre un número finito de casilleros. Cada casillero sólo puede contener los elementos que cumplan unas determinadas condiciones. Mejor conocido como El ordenamiento por casilleros.</p>
        <br>
        <p>Ventajas.</p>
        <ul>
            <li>Es estable, cuando existen claves iguales se preserva el orden existente.</li>
            <li>Este algoritmo es eficiente cuando la cantidad de casilleros es menor a la cantidad de claves.</li>
            <li>El tiempo para clasificar los elementos es constante, las claves repetidas ingresan en un mismo casillero, no se hace comparaciones entre claves.</li>
        </ul>
        <br>
        <p>Desventajas.</p>
        <ul>
            <li> El algoritmo no funciona de manera correcta cuando las claves son muy largas, como el tiempo de clasificación total es proporcional a la longitud de la clave y el número de elementos a ordenar.</li>
            <li>No es eficiente cuando la cantidad de casilleros es mayor a la cantidad de claves, tampoco cuando el rango es desconocido.</li>
            <li>El tiempo para clasificar los elementos en el peor de los casos es 0(n log n), usualmente esto no ocurre, sin embargo podría suceder.</li>
        </ul>
        <br>
        <p>Algoritmo</p>
        <ol>
            <li>Se tiene que tener previamente los datos que se van a ordenar en un vector</li>
            <li>Se codifican los casilleros que se desean utilizar y sus intervalos</li>
            <li>Se establecen los condiciones o reglas que deben cumplir cada valor para estar en un determinado casillero</li>
            <li>Se ordena cada casillero por separado.</li>
            <li>Se asignan nuevamente los valores al vector original.</li>
        </ol>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Representación grafica
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="center">
          <img src="https://miro.medium.com/max/450/1*QfuAg0ouokVxdvNUg3EfdQ.png" alt="Representación grafica">
        </div> 
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Ejemplo de código
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a href="https://github.com/JesusMartinez20/TheArchivesCodes/blob/master/Bucket.cpp" target="blank">
          https://github.com/JesusMartinez20/TheArchivesCodes/blob/master/Bucket.cpp
        </a>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Video tutorial
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="center">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/UlekIDCHe0s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </mat-expansion-panel>
    </mat-accordion>